@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*색상 변수*/
.primary-100 {
  color: #FFFBEB;
}
.primary-500 {
  color: #FFD53F;
}
.primary-600 {
  color: #F4C930;
}
.primary-700 {
  color: #EDBF1C;
}

.secondary-100 {
  color: #E3EFFF;
}
.secondary-500 {
  color: #026BFF;
}

.basic-000 {
  color: #ffffff;
}
.basic-100 {
  color: #E4E4E4;
}
.basic-200 {
  color: #B2B1B4;
}
.basic-300 {
  color: #79787B;
}
.basic-400 {
  color: #6D6D6D;
}
.basic-500 {
  color: #2D2C2F;
}
.basic-1000 {
  color: #000000;
}

.bgcolor-white {
  background-color: #ffffff;
}
.bgcolor-yellow {
  background-color: #FFD53F;
}
.bgcolor-dark {
  background-color: #2D2C2F;
}
.bgcolor-black {
  background-color: #000000;
}

.margintop {
  margin-top: 2rem;
}
.marginbottom {
  margin-bottom: 2rem;
}

.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Spoqa Han Sans Neo", "dotum", "돋움", "Apple SD Gothic Neo", "Noto Sans KR", Sans-serif;
  vertical-align: baseline;
  text-decoration-line: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  display: flex;
  line-height: 1;
  flex-direction: column;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gnb-transparent-m {
  display: none;
}

.gnb-transparent-w {
  z-index: 100;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  height: 4.4rem;
  background-color: #ffffff;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.gnb-transparent-w .logo {
  margin-left: 10vw;
  align-self: center;
  height: 30px;
}
.gnb-transparent-w .logo path {
  fill: #2D2C2F;
}
.gnb-transparent-w .tr {
  margin-left: 0;
  margin-right: 10vw;
  visibility: hidden;
}
.gnb-transparent-w ul {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.gnb-white {
  background-color: #ffffff;
}
.gnb-white .logo path {
  fill: #2D2C2F;
}
.gnb-white .gnb-button {
  color: #2D2C2F;
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  .gnb-transparent-m {
    z-index: 100;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    height: 4.4rem;
    align-items: center;
    background-color: #ffffff;
  }

  .hamburger path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .gnb-transparent-w {
    display: none;
  }
}
footer {
  background-color: #000000;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  width: 1080px;
}
footer address {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
footer span {
  color: #E4E4E4;
}
footer p {
  color: #B2B1B4;
  margin-left: 1rem;
}
footer a {
  margin-right: 2rem;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
footer a:hover, footer a:active {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.header-title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  color: #2D2C2F;
}

h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 4rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 4rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}

.body-m {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.7rem;
}

/* 버튼 */
.gnb-font {
  font-size: 0.95rem;
  font-weight: 500;
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  .header-title {
    font-size: 1.34rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
    color: #2D2C2F;
  }
}
/*헤더버튼*/
.gnb-button {
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.gnb-button:hover {
  box-shadow: inset 0 -0.2rem #FFD53F;
}
.gnb-button:active {
  box-shadow: inset 0 -0.2rem #FFD53F;
}
.gnb-button:visited {
  box-shadow: inset 0 -0.2rem #FFD53F;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.video-box {
  position: relative;
  min-width: 720px;
  max-width: 1440px;
  margin: 0 2rem 0 2rem;
}
.video-box video {
  z-index: 1;
  border-radius: 4px;
  width: 100%;
  filter: brightness(40%);
}

.video-box-title {
  z-index: 2;
  position: absolute;
  margin: 20% 0 0 4rem;
}
.video-box-title p,
.video-box-title a {
  color: #ffffff;
}

.video-label {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.video-text {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

.video-link {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.video-link:hover {
  color: #F4C930;
}

.main-container {
  height: 700px;
}
.main-container .title {
  width: 80vw;
}

.sub-container {
  width: 1000px;
  margin: 10rem 0 10rem 0;
}

.img-a {
  margin-top: 4rem;
  width: 1000px;
  content: url("https://mid-six.github.io/seed/img/img_home_1.png");
}

.img-smile-box {
  width: 376px;
}
.img-smile-box img {
  width: 240px;
}
.img-smile-box img:nth-child(1) {
  z-index: 1;
  margin: 0 0 0 100px;
  content: url("https://mid-six.github.io/seed/img/img_home_2_1.png");
}
.img-smile-box img:nth-child(2) {
  z-index: 4;
  margin: -140px 0 0 0;
  content: url("https://mid-six.github.io/seed/img/img_home_2_2.png");
}
.img-smile-box img:nth-child(3) {
  z-index: 3;
  margin: -140px 0 0 120px;
  content: url("https://mid-six.github.io/seed/img/img_home_2_3.png");
}

.point-image {
  width: 50px;
  margin: 0 0 -5px 540px;
  content: url("https://mid-six.github.io/seed/img/img_home_2_4.png");
}

.roket {
  margin: 0 0 0 16px;
  width: 28px;
  position: absolute;
  content: url("https://mid-six.github.io/seed/img/img_home_3_0.png");
}

.header-check {
  height: 80px;
}

.logo-midchamps {
  content: url("https://mid-six.github.io/seed/img/img_home_3_1.png");
}

.video1 {
  content: src("https://mid-six.github.io/seed/video/video_home_1_720p.mp4");
}

@media all and (min-width: 320px) and (max-width: 1024px) {
  .main-container {
    margin-top: 4.4rem;
    height: 400px;
  }
  .main-container .title {
    width: 80vw;
  }

  .video-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  .video-box {
    position: relative;
    min-width: 92%;
    max-width: 92%;
    margin: 0 2rem 0 2rem;
  }
  .video-box video {
    z-index: 1;
    border-radius: 4px;
    width: 100%;
    filter: brightness(40%);
  }

  .video-box-title {
    position: static;
    margin: 0 0 2rem 0;
  }
  .video-box-title p,
.video-box-title a {
    color: #2D2C2F;
  }

  .video-label {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
  }

  .video-text {
    font-size: 1.2rem;
    margin-bottom: 1.4rem;
    line-height: 1.8rem;
  }

  .video-link {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .video-link:hover {
    color: #F4C930;
  }
}

/*# sourceMappingURL=main.css.map */
