@use '../layout'as *;
@use '../abstracts'as *;
@use '../layout/'as *;
$url-images: "https://mid-six.github.io/seed/img/";

.white{
    color: $basic-000;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header-title{
    z-index: 2;
}
.video-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.video-box {
    position: relative;
    min-width: 720px;
    max-width: 1440px;
    margin: 0 2rem 0 2rem;

    video {
        z-index: 1;
        border-radius: 4px;
        width: 100%;
        filter: brightness(40%);
    }
}

.video-box-title {
    z-index: 2;
    position: absolute;
    margin: 20% 0 0 4rem;

    p,
    a {
        color: $basic-000;
    }
}

.video-label {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.video-text {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
}

.video-link {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
        color: $primary-600;
    }
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;

    .item-box {
        display: flex;
        flex-direction: row;
        min-width: 340px;
        max-width: 1080px;
        margin: 0 2rem 2rem 2rem;
        justify-content: space-between;

        span {
            width: 2rem;
            height: 2rem;
        }

        article {
            width: 100%;
            img {
                width: 100%;
                border-radius: 4px;
                margin-bottom: 0.8rem;
            }
            p{
                margin-bottom: 0.5rem;

            }
            a{  
                font-weight: 700;
                font-size: 0.9rem;
                color: $secondary-500;
            }
        }

    }
}


.main-container {
    height: 700px;

    .title {
        display: flex;
        width: 80vw;
        justify-content: center;
    }
}

.sub-container {
    width: 1000px;
    margin: 10rem 0 10rem 0;
}
.light-size{
    z-index: 1;
    position: absolute;
    width: 11rem;
    height: 4rem;
    border-radius: 4px;
    overflow: hidden;
    margin: 7.8rem 16rem 0 0;
}
.light-video{
    width: 40rem;
}


@media all and (min-width:320px) and (max-width:1024px) {

    .main-container {
        margin-top: $gnbHeight;
        height: 400px;

        .title {
            width: 80vw;
        }
    }


    .video-container {
        width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }

    .video-box {
        position: relative;
        min-width: 92%;
        max-width: 92%;
        margin: 0 2rem 0 2rem;

        video {
            z-index: 1;
            border-radius: 4px;
            width: 100%;
            filter: brightness(40%);
        }
    }

    .video-box-title {
        position: static;
        margin: 0 0 2rem 0;

        p,
        a {
            color: $basic-500;
        }
    }

    .video-label {
        font-size: 0.8rem;
        font-weight: 700;
        margin-bottom: 1.4rem;
        text-transform: uppercase;
    }

    .video-text {
        font-size: 1.2rem;
        margin-bottom: 1.4rem;
        line-height: 1.8rem;
    }

    .video-link {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;


        &:hover {
            color: $primary-600;
        }
    }



.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;

    
    .item-box {
        display: flex;
        flex-direction: row;
        min-width: 340px;
        max-width: 100%;
        margin: 0 2rem 2rem 2rem;
        justify-content: space-between;

        span {
            width: 2rem;
            height: 2rem;
        }

        article {
            width: 100%;
            img {
                width: 100%;
                border-radius: 4px;
                margin-bottom: 0.8rem;
            }
            p{  
                font-size: 0.8rem;
                margin-bottom: 0.5rem;

            }
            a{  
                font-weight: 700;
                font-size: 0.8rem;
                color: $secondary-500;
            }
        }

    }
}


.light-size{
    z-index: 1;
    position: absolute;
    width: 6.5rem;
    height: 2.1rem;
    border-radius: 4px;
    overflow: hidden;
    margin: 4.15rem 9.4rem 0 0;
}
.light-video{
    width: 30rem;
}



}