@use '../layout'as *;
@use '../abstracts' as *;

$url-images: "https://mid-six.github.io/seed/img/";


.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    height: calc(100vh + $gnbHeight);

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;
    }

    margin: {
        top: -$gnbHeight;
    }
    
    background: {
        image: url($url-images+"bg_section_1.png");
        repeat: no-repeat;
        size: cover;
        position: center;
    }
}

.sub-container {
    width: 1000px;
    margin: 10rem 0 10rem 0;
}

.img-a {
    margin-top: 4rem;
    width: 1000px;
    content: url($url-images+"img_home_1.png");
}
.img-smile-box{
    width: 376px;
    img{
        width: 240px;
    }
    img{
        &:nth-child(1){ z-index: 1; margin: 0 0 0 100px; content: url($url-images+"img_home_2_1.png"); }
        &:nth-child(2){ z-index: 4; margin: -140px 0 0 0; content: url($url-images+"img_home_2_2.png"); }
        &:nth-child(3){ z-index: 3; margin: -140px 0 0 120px; content: url($url-images+"img_home_2_3.png"); }
    }
}
.point-image{
    width: 50px;
    margin: 0 0 -5px 540px;
    content: url($url-images+"img_home_2_4.png");
}
.roket{
    margin: 0 0 0 16px;
    width: 28px;
    position: absolute;
    content: url($url-images+"img_home_3_0.png");
}
.header-check{
    height: 80px;
}

.logo-midchamps{
    content: url($url-images+"img_home_3_1.png");
}