@use '../abstracts' as *;

footer {
    background-color: $basic-1000;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
    width: 1080px;
    }
    address{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }
    span {
        color: $basic-100;
    }
    p {
        color: $basic-200;
        margin-left: 1rem;
    }
    a{
        margin-right: 2rem;
        color: $basic-000;
        text-decoration: none;
        outline: none
    }
    a:hover, a:active {
        text-decoration: none;
        color:$basic-000;
        font-weight: 600;
    }
}
