@use '../abstracts'as *;
@use '../layout'as *;

h1 {
    font: {
        size: 5rem;
        weight: 700;
    }
    line-height: 7rem;
}

h2 {
    font: {
        size: 3.2rem;
        weight: 700;
    }
    line-height: 4.8rem;

}

.body-m {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7rem;
}



/* 버튼 */
.gnb-font {
    font-size: 0.95rem;
    font-weight: 500;
}