@use '../abstracts'as *;
@use '../layout'as *;

.header-title{
    font: {
        size: 2.8rem;
        weight: 700;
    }
    line-height: 4rem;
    text-align: center;
    color: $basic-500;
}


h1 {
    font: {
        size: 2.8rem;
        weight: 700;
    }
    line-height: 4rem;
}

h2 {
    font: {
        size: 2.8rem;
        weight: 600;
    }
    line-height: 4.0rem;
}

h3 {
    font: {
        size: 2rem;
        weight: 600;
    }
    line-height: 3rem;
}



.body-m {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7rem;
}



/* 버튼 */
.gnb-font {
    font-size: 0.95rem;
    font-weight: 500;
}


@media all and (min-width:320px) and (max-width:1024px) {
    .header-title{
        font: {
            size: 1.57rem;
            weight: 700;
        }
        line-height: 2.1rem;
        text-align: center;
        color: $basic-500;
    }
}