/*색상 변수*/
$primary-100: #FFFBEB;
$primary-500: #FFD53F;
$primary-600: #F4C930;
$primary-700: #EDBF1C;

$secondary-500: #026BFF;
$secondary-100: #E3EFFF;


$basic-000: #ffffff;
$basic-100: #E4E4E4;
$basic-200: #B2B1B4;
$basic-300: #79787B;
$basic-400: #6D6D6D;
$basic-500: #2D2C2F;

