/*색상 변수*/
$primary-100: #FFFBEB;
$primary-500: #FFD53F;
$primary-600: #F4C930;
$primary-700: #EDBF1C;

$secondary-500: #026BFF;
$secondary-100: #E3EFFF;


$basic-000: #ffffff;
$basic-100: #E4E4E4;
$basic-200: #B2B1B4;
$basic-300: #79787B;
$basic-400: #6D6D6D;
$basic-500: #2D2C2F;
$basic-1000: #000000;

.primary {
    &-100 {color: $primary-100;}
    &-500 {color: $primary-500;}
    &-600 {color: $primary-600;}
    &-700 {color: $primary-700;}
}
.secondary {
    &-100 {color: $secondary-100;}
    &-500 {color: $secondary-500;}
}


.basic {
    &-000{color: $basic-000;}
    &-100{color: $basic-100;}
    &-200{color: $basic-200;}
    &-300{color: $basic-300;}
    &-400{color: $basic-400;}
    &-500{color: $basic-500;}
    &-1000{color: $basic-1000;}
}
.bgcolor{
    &-white{background-color: $basic-000;}
    &-yellow{background-color: $primary-500;}
    &-dark{background-color: $basic-500;}
    &-black{background-color: $basic-1000;}
}